<section>
  <mat-toolbar>
    <span> NgRx Todo List </span>
    <span class="example-spacer"></span>
    <span>
      Important: {{importantCount$ | async}}
    </span>
  </mat-toolbar>
</section>

<section class="filter-wrapper">
  <form [formGroup]="filter">
    <mat-form-field>
      <mat-select formControlName="value" placeholder="Filter Tasks">
        <mat-option value="all"> All </mat-option>
        <mat-option value="important"> Important </mat-option>
        <mat-option value="pending"> Pending </mat-option>
        <mat-option value="complete"> Completed </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</section>

<app-todo-list [data]="todoList$ | async"></app-todo-list>


<button mat-icon-button (click)="addTodo()" class="add-button">
  <mat-icon> add_task </mat-icon>
</button>
